
.mat-toolbar {

  font-size: 80px; 
  font-weight: 200;
  font-family: 'Tangerine', serif; 
  background-color: #870a0a;
  align-items: center;
  display: flex;
  

  }

  .navbar-title{
    font-size:50px;
    font-family:'Tangerine', serif;
    justify-content: center;
    align-items: center;
  }
  
 
  .grey-background{
    background-color: rgb(27, 26, 26);
    height:83.9vh;
  }

  .selectedBook-title{

    font-size: 60px;
    font-family: 'Rockwell', serif;
    text-align: center;
    text-shadow: 3px 3px;
    
  }


  .book-details{

    display: flex;
    align-items: center;

  }


  .book-cover{

    width: 150px;
    height: 200px;
    margin-right: 20px;
    
  
  }

  .fade-in{
    opacity: 50;
}

.fade-in-active{

    transition: opacity 1s;
    opacity: 1;
}
 

@keyframes bounce{

  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40%{
    transform: translateY(-30px);
  }
  60%{
    transform: translateY(-15px);
  }
}

.bounce-button{
  animation: bounce 2s;
}